body {
    font-family: 'Times New Roman', Times, serif;
    background-color: gold;
}

.survey-form {
    background-color: silver;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(rgb(148, 53, 53), green, blue, alpha);
    margin: 50px auto;
    padding: 50px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 5px;
    background-color: gold;
    border: 5%;
    border-color: black;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: backgroung-color 0.5s ease transform 0.5s ease;
}

button:hover{
    background-color: bisque;
    transform: scale(1.15);
}