body{
    background-color:lightslategray;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    margin:0;
}
header, main{
    padding: 20px;
}

header{
    background-color: rgb(128, 128, 128);
    color: orange;
    padding:20px;
    text-align:center;
}

nav a{
    color: orange;
    margin: 0 15px;
    text-decoration:none;

}

